

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1568392793773-1 {top: 200px; left: 60px; height: 1.4em; width: 20px;
        }
        .silex-id-1568392809187-2 {top: 200px; left: 100px; height: 1.4em; width: 120px;
        }
        .silex-id-1568392814944-3 {top: 240px; left: 100px; height: 1.4em; width: 120px;
        }
        .silex-id-1568392820473-4 {top: 280px; left: 100px; height: 1.4em; width: 120px;
        }
        .silex-id-1568392825723-5 {top: 320px; left: 60px; height: 1.4em; width: 20px;
        }
        .silex-id-1568393585427-20 {top: 20px; left: 60px; height: 160px; width: 602px;
        }
        .silex-id-1568392793773-1 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392809187-2 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392814944-3 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392820473-4 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392825723-5 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392836898-6 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392843860-7 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392846178-8 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392892664-13 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392902917-14 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392913393-15 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392918981-16 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392929054-17 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568318709239-14 {top: 200px; left: 240px; height: 20px; width: 80px;
        }
        .silex-id-1568318638933-8 {top: 240px; left: 240px; height: 1.4em; width: 80px;
        }
        .silex-id-1568318656622-10 {top: 280px; left: 240px; height: 1.4em; width: 80px;
        }
        .silex-id-1568331355939-46 {top: 200px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1568331361445-47 {top: 200px; left: 600px; height: 1.4em; width: 140px;
        }
        .silex-id-1568318665763-11 {top: 240px; left: 340px; height: 22px; width: 140px;
        }
        .silex-id-1568397401679-23 {top: 240px; left: 500px; height: 1.4em; width: 40px;
        }
        .silex-id-1568397421421-24 {top: 280px; left: 500px; height: 1.4em; width: 40px;
        }
        .silex-id-1568330723830-44 {top: 240px; left: 560px; height: 1.4em; width: 140px;
        }
        .silex-id-1568330727077-45 {top: 280px; left: 560px; height: 1.4em; width: 140px;
        }
        .silex-id-1568397401679-23 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568397421421-24 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568392836898-6 {top: 320px; left: 100px; height: 1.4em; width: 908px;
        }
        .silex-id-1568318712276-15 {top: 201px; left: 340px; height: 1.4em; width: 140px;
        }
        .silex-id-1568398552912-28 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568398632627-29 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568398858297-33 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568398280319-27 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568398275550-26 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568318678708-12 {top: 281px; left: 340px; height: 1.4em; width: 140px;
        }
        .silex-id-1568402289750-38 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568905348992-0 {top: 20px; left: 760px; height: 240px; width: 240px;
        }
        .silex-id-1568991213508-1 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568991223304-2 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568991293637-5 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1568393585427-20 > textarea {border-width: 0px; border-style: solid; font-size: 16px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: -20px; left: 160px; width: 1060px; height: 840px;
        }
        .silex-id-1568392843860-7 {top: 400px; left: 100px; height: 1.4em; width: 100px;
        }
        .silex-id-1568328985275-25 {top: 430px; left: 220px; height: 1.4em; width: 60px;
        }
        .silex-id-1568329698260-31 {top: 425px; left: 220px; height: 5px; width: 65px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1568328973817-23 {top: 400px; left: 220px; height: 20px; width: 60px;
        }
        .silex-id-1568392846178-8 {top: 400px; left: 300px; height: 1.4em; width: 20px;
        }
        .silex-id-1568329870982-35 {top: 400px; left: 340px; height: 1.4em; width: 60px;
        }
        .silex-id-1568391686911-3 {top: 510px; left: 260px; height: 1.4em; width: 60px;
        }
        .silex-id-1568392013293-9 {top: 510px; left: 380px; height: 1.4em; width: 60px;
        }
        .silex-id-1568391729069-5 {top: 510px; left: 500px; height: 1.4em; width: 80px;
        }
        .silex-id-1568392892664-13 {top: 470px; left: 60px; height: 1.4em; width: 20px;
        }
        .silex-id-1568392902917-14 {top: 470px; left: 100px; height: 1.4em; width: 908px;
        }
        .silex-id-1568392913393-15 {top: 510px; left: 100px; height: 1.4em; width: 100px;
        }
        .silex-id-1568392918981-16 {top: 510px; left: 220px; height: 1.4em; width: 20px;
        }
        .silex-id-1568392929054-17 {top: 510px; left: 340px; height: 1.4em; width: 20px;
        }
        .silex-id-1568402289750-38 {top: 510px; left: 460px; height: 1.4em; width: 22px;
        }
        .silex-id-1568398275550-26 {top: 550px; left: 60px; height: 20px; width: 20px;
        }
        .silex-id-1568398280319-27 {top: 550px; left: 100px; height: 1.4em; width: 907px;
        }
        .silex-id-1568398552912-28 {top: 590px; left: 100px; height: 1.4em; width: 100px;
        }
        .silex-id-1568398632627-29 {top: 590px; left: 220px; height: 20px; width: 20px;
        }
        .silex-id-1568398786272-30 {top: 590px; left: 260px; height: 1.4em; width: 60px;
        }
        .silex-id-1568398858297-33 {top: 590px; left: 340px; height: 19px; width: 20px;
        }
        .silex-id-1568398867699-34 {top: 590px; left: 380px; height: 1.4em; width: 135px;
        }
        .silex-id-1568398820580-32 {top: 620px; left: 260px; height: 1.4em; width: 60px;
        }
        .silex-id-1568398792947-31 {top: 618px; left: 259px; height: 5px; width: 67px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1568318943633-19 {top: 660px; left: 60px; height: 160px; width: 480px;
        }
        .silex-id-1568318957003-20 {top: 660px; left: 580px; height: 160px; width: 420px; box-sizing: content-box; padding: 0px; overflow: visible; background-color: rgb(250, 250, 250);
        }
        .silex-id-1568999109260-6 > input {border-width: 0px; border-style: solid;
        }
        .silex-id-1568999281369-9 > input {border-width: 0px; border-style: solid;
        }
        .silex-id-1568999649500-12 > input {border-width: 0px; border-style: solid;
        }
        .silex-id-1568991213508-1 {top: 360px; left: 100px; height: 1.4em; width: 160px;
        }
        .silex-id-1568991223304-2 {top: 360px; left: 280px; height: 1.4em; width: 20px;
        }
        .silex-id-1568991234847-4 {top: 360px; left: 320px; height: 1.4em; width: 40px;
        }
        .silex-id-1568991293637-5 {top: 360px; left: 680px; height: 20px; width: 80px;
        }
        .silex-id-1568999109260-6 {top: 360px; left: 380px; height: 1.4em; width: 20px;
        }
        .silex-id-1568999281369-9 {top: 360px; left: 480px; height: 1.4em; width: 20px;
        }
        .silex-id-1568999568154-10 {top: 360px; left: 420px; height: 20px; width: 40px;
        }
        .silex-id-1568999608915-11 {top: 360px; left: 520px; height: 1.4em; width: 40px;
        }
        .silex-id-1568999649500-12 {top: 360px; left: 580px; height: 1.4em; width: 20px;
        }
        .silex-id-1568999662907-13 {top: 360px; left: 620px; height: 1.4em; width: 40px;
        }
    